# This file is managed by Ansible (monitoring role)
# Changes will be overwritten on the next deployment when monitor_mail_enabled=true.

dc_eximconfig_configtype='{{ monitor_mta_configtype }}'
dc_other_hostnames='{{ monitor_mta_other_hostnames | join(" ; ") if monitor_mta_other_hostnames else monitor_mta_mailname }}'
dc_local_interfaces='{{ monitor_mta_local_interfaces }}'
dc_readhost='{{ monitor_mta_readhost }}'
dc_relay_domains='{{ monitor_mta_relay_domains }}'
dc_minimaldns='{{ 'true' if monitor_mta_minimal_dns else 'false' }}'
dc_relay_nets='{{ monitor_mta_relay_nets }}'
dc_smarthost='{{ monitor_mta_smarthost }}'
CFILEMODE='{{ monitor_mta_cfilemode }}'
dc_use_split_config='{{ 'true' if monitor_mta_use_split_config else 'false' }}'
dc_hide_mailname='{{ monitor_mta_hide_mailname }}'
dc_mailname_in_oh='{{ 'true' if monitor_mta_mailname_in_oh else 'false' }}'
dc_localdelivery='{{ monitor_mta_localdelivery }}'
